# Параметры подключения к PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=minicrm_db
DB_USER=crm_admin
DB_PASSWORD=SecretStrongPassword_2026

# Конфигурация приложения
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:80

